/* Colours used
Primary Colour Off White #FEFFEA
Secondary Colour Blue #467BC4
Teritary Colour Yellow #F5F749
Dark Grey #424242

*/

body {

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000000;


}
.background {
  background-size:contain;
  background-repeat: no-repeat;
  width: 100%;
}



h1 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
  }

  span {
  line-height: 1.6;
  color: #467BC4;
  font-weight: 600;
  }

  .buzzword {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #467BC4;
  }

h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1;

  }
.project-text {
  background color: transparent;
}


h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
p {
  line-height: 1.6;
}
a {
  color: #467BC4;
}

a:visited {
  color: #ff0025;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #D3D3D3;
}

a:active {
  text-decoration:none;
  color: #467BC4;
}

img {
width: 100%;
}

.content {
  width: 100%;

  line-height: 1.6;
  display:flex;
  flex-flow: wrap column;
  margin-left: auto;
  margin-right: auto;
}

.button {
border: none;
font-family: inherit;
color: #000000 !important;
text-decoration: none;
padding: 10px;
border-radius: 2px;
border: 2px solid #467BC4;
text-align: center;
align-self: center;
transition: 0.3s opacity;

}

.margin {
  margin: 50px 0;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.logo{
  width: 75px;
  max-height: 75px;
  float:left;

}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;

}

header {
  width: 100%;
  line-height: 1;
  padding: 10px;
  display: inline-block;
}


.container {
  width: 100%;
  display:inline-block;
  background-color: #F7F6F6;
  height: 95px;
position: fixed;
top: 0;

}
.container-welcome {
  width: 100%;
  display: inline-block;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100%;
margin-top: 95px;
}

.headline2 {
  display:flex;
  justify-content: center;
  align-items: center;
}

.headline {
  display:flex;
height: 75px;
  align-items: center;
  justify-content:flex-start;
}


.container a {
  text-align: center;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

nav {
  display:flex;
height: 75px;
  align-items: center;
  justify-content:flex-end;
}

nav a {
  text-decoration: none;
}


.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  float:left;
  text-align: center;
  vertical-align:top;
}

.column-1 {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.columns-container {
  text-align: center;
  margin-top: 20px;
}

.column-4:last-child {
  margin-right: 0;
}

ul.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
  display: inline-block;

  text-decoration: none;

}

li a {
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-decoration: none;
   font: 16px Raleway;
   margin: 10px 10px;
   padding: 5px 5px;
   position: relative;
   z-index: 0;
   cursor: pointer;
   color: #000000;
}

li a:visited {
  color: #000000;

}

li a.active {

  padding: 10px;
  border-radius: 2px;
  border: 2px solid #467BC4;
}

.topBotomBordersOut a:before,
.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #467BC4;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before,
.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #467BC4;}
}

.cloudtopleft{

  animation: 3s color-change infinite alternate linear;
  animation: 5s cloud-spin infinite alternate linear:
}

@keyframes cloud-move {
    from {transform: translate(1000px, 1300px);}
    to {transform: translate(200px, 1300px);}
}

@keyframes cloud-spin {
    from {transform: scale(1);}
    to {transform: scale(10);}
}





.cloudrighttop {
  animation: 30s cloud-move infinite alternate linear;
}
.project {
  position: relative;
}

.project-details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0; /* Reset this to 0 */
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  font-weight: 500;
  border: 2px solid #424242;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px 0;
}
.nopad {
  padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



/* TABLET */
@media all and (max-width: 700px) {
.logo{
  /* Make logo smaller by changing it's height */
  width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display:flex;
  flex-flow: wrap column;
  margin-left: auto;
  margin-right: auto;

}



h1 {
  font-size: 24px;
  text-align: center;
}

.col-3 {
    /* Modify 4-column to 2-columns */
    width: 50%;
  }
.col-5 {
  width: 50%;

}
  .col-2 {
    width: 25%;
  }

  .men.col-2 {
    display:flex;
    justify-content: flex-end;
  }






  .navbar-menu {
    background-color: #F7F6F6;
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: translateX(-100%);
    transition: 0.5s;

  }

  .navbar-menu.active { transform: translateX(0);transition: 0.5s; }

  .navbar-menu .menu-listing { padding: 0;margin: 0;text-align: center; }

  .menu-listing li { display: block; }

  .menu-listing li a {
    color: #262626;
    display: block;
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
  }

  .menu {
position:absolute;
    background-color: #262626;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;


  }

  .menu span {

    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;

  }

  .menu span:before {
    content: '';
    position: absolute;
    top: -8px;
    background-color: #fff;
    height: 3px;
    width: 25px;
    transition: 0.3s;

  }

  .menu span:after {
    content: '';
    position: absolute;
    top: 8px;
    background-color: #fff;
    height: 3px;
    width: 25px;
    transition: 0.3s;

  }

  .menu.active span { background-color: transparent; }

  .menu.active span:before { transform: rotate(45deg);top: 0; }

  .menu.active span:after { transform: rotate(-45deg);top: 0; }

}

/* MOBILE */
@media all and (max-width: 400px) {

.container {
  display:flex;
  flex-flow: wrap column;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 5px;

}

.logowrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}


.logo {
  /* Make logo smaller by changing it's height */
  height:40px;
  width: 40px;
  margin: 0 auto;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.col-3 {
    /* Modify 4-column to 2-columns */
    width: 100%;
  }

.columns-container{
  margin-top: 10px;
}

.navbar-menu {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.5s;
}

.navbar-menu.active { transform: translateX(0);transition: 0.5s; }

.navbar-menu .menu-listing { padding: 0;margin: 0;text-align: center; }

.menu-listing li { display: block; }

.menu-listing li a {
  background-color: #fff;
  color: #262626;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #262626;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 9999;
}

.menu span {
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.menu span:before {
  content: '';
  position: absolute;
  top: -8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}

.menu span:after {
  content: '';
  position: absolute;
  top: 8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}

.menu.active span { background-color: white; }

.menu.active span:before { transform: rotate(45deg);top: 0; }

.menu.active span:after { transform: rotate(-45deg);top: 0; }

}
