/* Colours used
Primary Colour Off White #FEFFEA
Secondary Colour Blue #467BC4
Teritary Colour Yellow #F5F749
Dark Grey #424242

*/

body {

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 3;
  color: #000000;
  background-color: #ffffff;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

h2 {
    font-size: 20px;
    font-weight: 400;
  }

h3 {
    font-size: 18px;
    font-weight: 400;
  }

a {
  color: #467BC4;
}

a:visited {
  color: #ff0025;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #D3D3D3;
}

a:active {
  text-decoration:none;
  color: #467BC4;
}

img {
width: 100%;
}

.content {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  display:flex;
  flex-flow: wrap column;
  margin-left: auto;
  margin-right: auto;
}

.button {
border: none;
font-family: inherit;
background-color: #467BC4;
color: #ffffff !important;
text-decoration: none;
padding: 10px;
border-radius: 5px;
border: 2px solid #424242;
text-align: center;
width: 30%;
align-self: center;
transition: 0.3s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.logo{
  width: 100%;
  max-width: 150px;
  float:left;

}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

header {
  width: 100%;
  line-height: 1;
  padding: 10px;
  display: inline-block;
}


.container {
  width: 100%;
  display: inline-block;
}

.container a {
  text-align: center;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

nav {
  float:right;
}

nav a {
  text-decoration: none;
}

p {
  text-align: left;
  align-self: center;
}

.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  float:left;
  text-align: center;
}

.column-1 {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.columns-container {
  font-size: 0;
  margin-top: 100px;
  background: Yellow;
}

.column-4:last-child {
  margin-right: 0;
}

ul.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-decoration: none;
   font: 16px Raleway;
   margin: 10px 10px;
   padding: 5px 5px;
   position: relative;
   z-index: 0;
   cursor: pointer;
}

.topBotomBordersOut a:before,
.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #467BC4;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before,
.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #467BC4;}
}

.cloudtopleft{

  animation: 3s color-change infinite alternate linear;
  animation: 5s cloud-spin infinite alternate linear:
}

@keyframes cloud-move {
    from {transform: translate(1000px, 1300px);}
    to {transform: translate(200px, 1300px);}
}

@keyframes cloud-spin {
    from {transform: scale(1);}
    to {transform: scale(10);}
}





.cloudrighttop {
  animation: 30s cloud-move infinite alternate linear;
}

/* TABLET */
@media all and (max-width: 700px) {
.logo{
  /* Make logo smaller by changing it's height */
  max-width: 88px;
}

h1 {
  font-size: 24px;
  text-align: left;
}

.column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }

.column-4:nth-child(2) {
    margin-right: 0;
  }
}

/* MOBILE */
@media all and (max-width: 400px) {

.container {
  display:flex;
  flex-flow: wrap column;
  margin-left: auto;
  margin-right: auto;

}

.logowrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}


.logo {
  /* Make logo smaller by changing it's height */
  max-width: 100px;
  margin: 0 auto;
}

h1 {
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}

.column-4 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    margin-right: 0;
  }

.columns-container{
  margin-top: 10px;
}
}
