/* Colours used
Primary Colour Off White #FEFFEA
Secondary Colour Blue #467BC4
Teritary Colour Yellow #F5F749
Dark Grey #424242

*/

body {
  background-color: #ffffff; <!-- White -->
  font-family: 'Corben', cursive;
  font-size: 16px;
  line-height: 1.6;
  color: #000000; <!-- Black -->
}

h1 {
    font-size: 28px;
    font-weight: bold 700;
  }

h2 {
    font-size: 20px;
    font-weight: regular 400;
  }

h3 {
    font-size: 18px;
    font-weight: regular 400;
  }

a {
  text-decoration: underline;
  color: #467BC4; <!-- Blue -->
}

a:visited {
  color: #ff0025; <!-- Red -->
}

a:hover,
a:focus {
  color: #D3D3D3; <!-- Light Grey -->
}

a:active {
  text-decoration:none;
  color: #467BC4; <!-- Blue -->
}

.button {
border: none;
font-family: inherit;

background-color: #467BC4;
color: #ffffff !important;
text-decoration: none;
padding: 10px;
border-radius: 5px;
border: 2px solid #424242;
}

.button:hover,
.button:focus {
  cursor:pointer;
  opacity: 0.8;
}
